html
    head
        title  menu
        link(rel="stylesheet" href="style1.css")
      
    body
        nav.menu
            a(href="#") Home
            a(href="#") Services
            a(href="#") Adives
            a(href="#") Contact Us
              
              
            
            
